<a href="https://colab.research.google.com/github/Buketklfa/Cohort_proje/blob/main/python_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
type(5.1)

float

In [ ]:
help()

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [ ]:
# line comment
"""
  block
  comment
"""

# interactive terminal "_"

'\n  block \n  comment\n'

In [ ]:
take_a_value = input('Enter a value')
print("The value", take_a_value)

Enter a valuedeneme
The value deneme

In [ ]:
print("The line continuation character for \
long strings")

The line continuation character for long strings

In [ ]:

a = '' # empty strings
b = 0
c = False
# also None

d = (5,2) #tuple, list and other non empty containers
e = [3, 4, "deneme"]
f = True  # True values
g = 1 #non zero values
h = 'non empty' # non empty strings

if(a and b and c and None):
  print("it not gonna happen")
else:
  print("empty, 0, None, False") #works

if(d and e and f and g and h):
  print("non empty, non zero, exist, True") #works
else:
  print("NEVER EVER")

empty, 0, None, False
non empty, non zero, exist, True

In [ ]:
print("The first round:", round(1.8155623, 2 ))

print("The second round:", round(1.815123, 3 ))

The first round: 1.82
The second round: 1.815

In [ ]:
print(4e2)

400.0

In [ ]:
#python primatives
"""
- numbers
- strings
"""

# python 4 types of number
"""
- booleans
- integers
- floating point
- complex (imaginery)
"""

In [ ]:
print("classic division 5/4:", 5/4)

print("floor division 5//4:", 5//4)

classic division 5/4: 1.25
floor division 5//4: 1

In [ ]:
print("Modulo (remainder 17 % 3:", 17 % 3 )

Modulo (remainder 17 % 3: 2

In [ ]:
x = 5
print("Power operant ** =>  x is 5 => x**3:", x**3 )

Power operant ** =>  x is 5 => x**3: 125

In [ ]:
x = 2
y = 5
z = 20
# [z] => z is optional
print("Power modulo function (x ** y) % z => pow(x,y,[z]) => power(x,y,z)", pow(x,y,z) )
print(pow(x,y))

Power modulo function (x ** y) % z => pow(x,y,[z]) => power(x,y,z) 12
32

In [ ]:
x = 17
y = 3
print("divmod function tuple(x//y, x%y) = divmod(x,y) ", divmod(x,y) )

divmod function tuple(x//y, x%y) = divmod(x,y)  (5, 2)

In [ ]:
import math

print("sqrt:", math.sqrt(64))
print("sin and radians:", math.sin(math.radians(90)))

print()

print("log:", math.log(32, 2))
print("default log and e:", math.log(math.e ** 2), "\n") #new line character

print(int(14.8))
print(float(735))

sqrt: 8.0
sin and radians: 1.0

log: 5.0
default log and e: 2.0

14
735.0

In [ ]:
a = "Hello world!"

print(len(a))

b = a[-1] #last character of string
c = a[-2] #second character at the end of the string

print(b)
print(c)

#slicing, substrings
d = a[2:len(a)] # start to end
e = a[::-1]
f = a[::2]
g = a[::-2]

print(d)
print(e)
print(f)
print(g)

if "H" in a:
  print("state 1")
else:
  print("state 2")

if "!" not in a:
  pass
else:
  print("state 3")

12
!
d
llo world!
!dlrow olleH
Hlowrd
!lo le
state 1
state 3

In [ ]:
x = 42
print(type(x))

print(x + 5)

a = str(x)
print(type(a))

print(a + str(5))

<class 'int'>
47
<class 'str'>
425

In [ ]:
s = ["a", "b", "c"]
n = [1, 2]

print(s * 3)

print(s + n)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']
['a', 'b', 'c', 1, 2]

In [ ]:
names = ["alice","john", "doe", "muffafa", "zehra"]
names.append("emmy")
del names[len(names) - 2] #delete with index
names.sort() # sort names in alphabetical order
names.insert(1, "jabbar")# insert to index

for name in names:
  print(name)

print(names.index("muffafa"))

alice
jabbar
doe
emmy
john
muffafa
5

In [ ]:
numbers = [1, 2, 4, 9 , 7, 2 , 3 , 5 ]
numbers.remove(2) #remove first accurence

for i in range(len(numbers) -1):
  print(numbers[i], end =", ")

print(numbers[-1])

print("\nlets sort it")
numbers.sort(reverse = True) # sort numbers in reverse order

# print whole list wiht *
print(*numbers)

1, 4, 9, 7, 2, 3, 5

lets sort it
9 7 5 4 3 2 1

In [ ]:
#Opening a file
f = open('foo.txt','w')

#To write text to a file
f.write('some text')

#To close when you're done
f.close()

In [ ]:

g = open('foo.txt','r')

#To read data
data = g.read()

print(data)

g.close()

some text

In [ ]:
# python 2.6+
#This automatically closes the file when control leaves the indented code block
with open('foo.txt', 'r') as f:
  message = f.read()

print(message)

some text

In [ ]:
with open('foo.txt', 'r') as f:
  for line in f:
    print(line)
    fields = line.split()
    print(fields)
    try:
      shares = int(fields[1])
    except ValueError:print ("Couldn't parse", line)

some text
['some', 'text']
Couldn't parse some text

In [ ]:
#tuple
# single row in a database

s = ('GOOG', 100, 490.1)
#or
n =  'TESL', 20, 285.3
#empty tuple
t = ()

print(s)
print(n)
print(t)

('GOOG', 100, 490.1)
('TESL', 20, 285.3)
()

In [ ]:
name = s[0] # 'GOOG'
shares = s[1] # 100
price = s[2] # 490.1

print (name, shares, price)

GOOG 100 490.1

In [ ]:
#However, the contents can't be modified.
s[1] = 75

TypeError: 'tuple' object does not support item assignment

In [ ]:
#You can, however, make a new tuple based on a current tuple
s = (s[0], 75, s[2])
print(s)

('GOOG', 75, 490.1)

In [ ]:
#tuple unpacking

name, shares, price = s

print('Cost', shares * price)

Cost 36757.5

In [ ]:
#dictioary
#A dictionary is mapping of keys to values.
#A hash table or associative array.

s = {'name': 'GOOG',
     'shares': 100,
     'price': 490.1}

print(s["name"])

#Adding/modifying values :
s['shares'] = 75
s['date'] = '6/6/2007'

print(s["shares"], s["date"])

#deleting a value
del s['date']

GOOG
75 6/6/2007

In [ ]:
for k in s:
  print(k, "=", s[k])

name = GOOG
shares = 75
price = 490.1

In [ ]:
keys = s.keys()
print(keys)

items = s.items()
print(items)

dict_keys(['name', 'shares', 'price'])
dict_items([('name', 'GOOG'), ('shares', 75), ('price', 490.1)])

In [ ]:
#containers

"""
- Lists (Ordered data.)
- Dictionaries ( Unordered data)
- Sets ( Unordered collection of unique items)
"""

portfolio = [('GOOG', 100, 490.1),('IBM', 50, 91.3),('CAT', 150, 83.44)]

print(portfolio[0]) # ('GOOG', 100, 490.1)
print(portfolio[2]) # ('CAT', 150, 83.44)

('GOOG', 100, 490.1)
('CAT', 150, 83.44)

In [ ]:
#Example: Reading records from a file
records = [] # Initial empty list
with open('Data/portfolio.csv', 'rt') as f:
  next(f) # Skip header
  for line in f:
    row = line.split(',')
    records.append((row[0], int(row[1]), float(row[2])))

In [ ]:
#Example of building a dict from scratch.
prices = {} # Initial empty dict
# Insert new items
prices['GOOG'] = 513.25
prices['CAT'] = 87.22
prices['IBM'] = 93.37

print(prices["CAT"])

87.22

In [ ]:
#Looking up a value that might not exist
print(prices.get('IBM', 0.0))
print(prices.get('SCOX', 0.0))

93.37
0.0

In [ ]:
#Sets are collection of unordered unique items.
tech_stocks = { 'IBM','AAPL','MSFT' }
# Alternative syntax
tech_stocks = set(['IBM', 'AAPL', 'MSFT'])

#useful for duplicate elimination
names = ['IBM', 'AAPL', 'GOOG', 'IBM', 'GOOG', 'YHOO']
unique = set(names)

#Additional set operations:
unique.add('CAT') # Add an item
unique.remove('YHOO') # Remove an item

s1 = { 'a', 'b', 'c'}
s2 = { 'c', 'd' }

print(s1 | s2) # Set union { 'a', 'b', 'c', 'd' }
print(s1 & s2) # Set intersection { 'c' }
print(s1 - s2) # Set difference { 'a', 'b'

{'c', 'd', 'a', 'b'}
{'c'}
{'a', 'b'}

In [ ]:
"""
:>10d Int. right aligned in 10-character field
:<10d Int. left aligned in 10-character field
:^10d Int. centered in 10-character field
:0.2f Float with 2 digit precision
"""

"""
d Decimal integer
b Binary integer
x Hexadecimal integer
f Float as [-]m.dddddd
e Float as [-]m.dddddde+-xx
g Float, but selective use of E notation
s Stringc Character (from integer)
"""

name = 'IBM'
shares = 100
price = 91.1
print(f'{name:>10s} {shares:>10d} {price:>10.2f}')

name = 'GOOGLE'
shares = 75
price = 431.54
print(f'{name:>10s} {shares:>10d} {price:>10.2f}')

print()

print('{name:>10s} {shares:10d} {price:10.2f}'.format(name='IBM', shares=100, price=91.1))

print('{name:>10s} {shares:10d} {price:10.2f}'.format(name=name, shares=shares, price=price))

       IBM        100      91.10
    GOOGLE         75     431.54

       IBM        100      91.10
    GOOGLE         75     431.54

In [ ]:
#Formatting operator (%)
print('The value is %d' % 3)
print('%5d %-5d %10d' % (3,4,5))
print('%0.2f' % (3.1415926,))

The value is 3
    3 4              5
3.14

In [ ]:
a = [0,1,2,3,4,5,6,7,8]

print(a[2:5]) # [2,3,4]
print(a[-5:]) # [4,5,6,7,8]
print(a[:3]) # [0,1,2]

print()
# Deletion
a = [0,1,2,3,4,5,6,7,8]
del a[2:4] # [0,1,4,5,6,7,8]
print(a)


print()
# Reassignment
a = [0,1,2,3,4,5,6,7,8]
a[2:4] = [10,11,12] # [0,1,10,11,12,4,5,6,7,8]
print(a)

[2, 3, 4]
[4, 5, 6, 7, 8]
[0, 1, 2]

[0, 1, 4, 5, 6, 7, 8]

[0, 1, 10, 11, 12, 4, 5, 6, 7, 8]

In [ ]:
a = [0,1,2,3,4,5,6,7,8]

print(a[0:5:2]) # [0,2,4]
print(a[::-2]) # [8,6,4,2,0]
print(a[6:2:-1]) # [6,5,4,3]

[0, 2, 4]
[8, 6, 4, 2, 0]
[6, 5, 4, 3]

In [ ]:

s = [1, 2, 3, 4]
print(sum(s))
print(min(s))
print(max(s))

t = "Hello World"
print(max(t))

10
1
4
r

In [ ]:
range(100)

range(0, 100)

In [ ]:
for i in range(100):# i = 0,1,...,99
  print(i, end=", ")

print()

# start to end

x = range(10, 20) # y = [10, 11,..., 19]

y = range(10, 50, 2) # z = [10, 12,..., 48]

for i in x:
  print(i, end=", ")

print()

for i in y:
  print(i, end=", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99,
10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48,

In [ ]:
names = ['Elwood', 'Jake', 'Curtis', 'Amelia', 'Oscar', \
         'Sophia', 'Ethan', 'Isabella', 'Leo', 'Charlotte', \
         'Aiden', 'Ava', 'Lucas']

for i, name in enumerate(names, start=1):
  print(f'{i:>2d}', "-", name)

 1 - Elwood
 2 - Jake
 3 - Curtis
 4 - Amelia
 5 - Oscar
 6 - Sophia
 7 - Ethan
 8 - Isabella
 9 - Leo
10 - Charlotte
11 - Aiden
12 - Ava
13 - Lucas

In [ ]:
#Looping with multiple iteration variables
points = [(1, 4),(10, 40),(23, 14),(5, 6),(7, 8)]

for x, y in points:
  print(x,y)

1 4
10 40
23 14
5 6
7 8

In [ ]:
#zip() function
#Combines multiple sequences into tuples
columns = ['name', 'shares', 'price']
values = ['GOOG', 100, 490.1 ]
pairs = zip(columns, values)# ('name','GOOG'), ('shares',100), ('price',490.1)
print(pairs)

#One use, looping over two sequences
for column, value in pairs:
  print(column, "=", value)

#Another use: making dictionaries
d = dict(zip(columns, values))
print(d)

for k in d:
  print(k, "=", d[k])

<zip object at 0x784a8b6c2f00>
name = GOOG
shares = 100
price = 490.1
{'name': 'GOOG', 'shares': 100, 'price': 490.1}
name = GOOG
shares = 100
price = 490.1

In [ ]:
#A list comprehension creates a new list by applying an operation to each element of a sequence.
a = [1, 2, 3, 4, 5]
b = [2*x for x in a ]
print(b)

#Another example:
names = ['Elwood', 'Jake']
a = [name.lower() for name in names]
print(a)

[2, 4, 6, 8, 10]
['elwood', 'jake']

In [ ]:
#List comprehensions are hugely useful

"""
#General syntax

[expression for names in sequence if condition]

#What it means

result = []
for names in sequence:
  if condition:
    result.append(expression)
"""

"""
List comprehensions come from math
a = [x*x for x in s if x > 0] # Python
a = { 𝒙^𝟐 | x ∈ s, x > 0 } # Math
"""

stocks = [
    {'name': 'AlphaTech', 'price': 120, 'shares': 75},
    {'name': 'BetaCorp', 'price': 95, 'shares': 50},
    {'name': 'GammaInc', 'price': 150, 'shares': 60},
    {'name': 'DeltaLLC', 'price': 80, 'shares': 100}
]

#Collecting the values of a specific field
stocknames = [s['name'] for s in stocks]

#Performing database-like queries
query = [s for s in stocks if s['price'] > 100 and s['shares'] > 50 ]

#Data reductions over sequences
cost = sum([s['shares']*s['price'] for s in stocks])

print(stocknames)
print(query)
print(cost)

['AlphaTech', 'BetaCorp', 'GammaInc', 'DeltaLLC']
[{'name': 'AlphaTech', 'price': 120, 'shares': 75}, {'name': 'GammaInc', 'price': 150, 'shares': 60}]
30750

In [ ]:
a = [1,2,3]
b = a

print(a is b)
print(id(a), id(b))

c = [a,b]
print(c)

a.append(999)
print(c)

a = [4,5,6]
print(c)
print(a)

True
132261563559360 132261563559360
[[1, 2, 3], [1, 2, 3]]
[[1, 2, 3, 999], [1, 2, 3, 999]]
[[1, 2, 3, 999], [1, 2, 3, 999]]
[4, 5, 6]

In [ ]:
#Lists and dicts have methods for copying.
a = [2,3,[100,101],4]
b = list(a) # Make a copy
a.append(999)

print(a is b) #False

c = [a,b]
print(c)

#It's a new list, but the list items are shared.

a[2].append(102)
b[2] #[100,101,102]
print(c)

print(a[2] is b[2]) #True

False
[[2, 3, [100, 101], 4, 999], [2, 3, [100, 101], 4]]
[[2, 3, [100, 101, 102], 4, 999], [2, 3, [100, 101, 102], 4]]
True

In [ ]:
#Sometimes you need to make a copy of an object and all the objects contained within it.

#Use the copy module for this:
a = [2,3,[100,101],4]

import copy

b = copy.deepcopy(a)

print(a is b) #False

a[2].append(102)
b[2]

print(a is b) #False

c = [a,b]
print(c)

False
False
[[2, 3, [100, 101, 102], 4], [2, 3, [100, 101], 4]]

In [ ]:
#How to tell if an object is a specific type.
if isinstance(a, list):
  print('a is a list')

#Checking for one of many possible types.
if isinstance(a, (list,tuple)):
  print('a is a list or tuple')

a is a list
a is a list or tuple

In [ ]:
import csv
#docs string

def read_prices(filename):
  '''Read prices from a CSV file of name,price data'''
  prices = {}
  with open(filename) as f:
    f_csv = csv.reader(f)
    for row in f_csv:prices[row[0]] = float(row[1])
    return prices

In [ ]:
#multiple return

def divide(a,b):
  q = a // b # Quotient
  r = a % b # Remainder
  return q, r # Return a tuple

#Usage example:
x, y = divide(37,5) # x = 7, y = 2
print(x,y)

#x = divide(37, 5) # x = (7, 2)

7 2

In [ ]:
name = 'Dave'

def spam():
  name = 'Guido'

spam()

print(name) #dave

Dave

In [ ]:
name = 'Dave'

def spam():
  global name
  name = 'Guido' # Changes the global name above

spam()

print(name)

Guido

In [ ]:
#If mutable data types are passed (e.g. lists, dicts), they can be modified in-place.
a = [1,2,3]

def foo(items):
  items.append(42) # Modifies the input objecta = [1, 2, 3]


foo(a)
print(a) # [1, 2, 3, 42]

[1, 2, 3, 42]

In [ ]:
def add(x, y):
  return x + y

a = add(3, 4) # 7
b = add('Hello', 'World') # 'HelloWorld'
c = add('3', '4') # '34'

print(a, b, c)

7 HelloWorld 34

In [ ]:
#These are the methods to implement containers.

len(x)      #x.__len__()
x[a]        #x.__getitem__(a)
x[a] = v    #x.__setitem__(a,v)
del x[a]    #x.__delitem__(a)

In [ ]:
class Date(object):
    def __init__(self, year, month, day):
        self.year = year
        self.month = month
        self.day = day

    # Used with `str()`
    def __str__(self):
        return f'{self.year}-{self.month}-{self.day}'

    # Used with `repr()`
    def __repr__(self):
        return f'Date({self.year},{self.month},{self.day})'

In [ ]:
class A(object):
    def yow(self):
        print('Yow!')

class B(A):
    def spam(self):
        self.yow()

b = B()
b.spam()
# B->A->object

class C(A):
    def yow(self):
        print('Yowzer!!')

class D(B,C):
    pass

d = D()
d.spam()
# D->B->C->A->object

D.__mro__

class E(B,C):
  def foo(self):
    return super().spam()

e = E()
e.foo()
E.__mro__

Yow!
Yowzer!!
Yowzer!!

(__main__.E, __main__.B, __main__.C, __main__.A, object)

In [ ]:
class Stock:
    def __init__(self, name, shares, price):
        self.name = name
        self.shares = shares
        self.price = price

    @property
    def shares(self):
        return self._shares

    @shares.setter
    def shares(self, value):
        if not isinstance(value, int):
            raise TypeError('Expected int')
        self._shares = value

s = Stock("GOOGL", 50, 423.4)
print(s.shares)
s.shares = 78
print(s.shares)

50
78

In [ ]:
import math

class Shape():
    __slots__ = "_a", "b", "r", "name"

    def __init__(self,a,b=-1):
        self._a=a
        self.b=b

    def area(self):
        return self.a*self.b

    @property
    def perimeter(self):
        return self.a+self.b

    @property
    def a(self):
        return self._a

    @a.setter
    def a(self, value):
        if not isinstance(value, (int)):
            raise TypeError("Please use an integer value for a")
        self._a = value

class Circle(Shape):
    def _init_(self,r):
        super().__init__(r)

    def area(self):
        return math.pi * self.r ** 2

    @property
    def perimeter(self):
        return 2*3*self.r

class Square(Shape):
        pass


# Create an instance of the Shape class and test
shape_instance = Shape(a=3, b=4)
print("Shape Area:", shape_instance.area())
print("Shape Perimeter:", shape_instance.perimeter)

# Create instances of the Circle and Square classes and test
circle_instance = Circle(5)
print("Circle Area:", circle_instance.area())
print("Circle Perimeter:", circle_instance.perimeter)

square_instance = Square(a=6)
print("Square Area:", square_instance.area())
print("Square Perimeter:", square_instance.perimeter)

# Test setter and getter for the 'a' attribute
try:
    shape_instance.deneme = "invalid"
except AttributeError as e:
    print(e)

try:
    shape_instance.name = "Şekil"
    print("Updated name value:", shape_instance.name)
except AttributeError as e:
    print(e)

Shape Area: 12
Shape Perimeter: 7

AttributeError: 'Circle' object has no attribute 'r'

In [ ]:
x = [1,2,3]
it = x.__iter__()
it.__next__()

1

In [ ]:
it.__next__()

2

In [ ]:
it.__next__()

3